body{
    background-color: #000000;
    font-family: 'Noto Sans Linear B', sans-serif;
}
.om{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    font-family: 'Noto Sans Linear B', sans-serif;
}
.side{
    float: left;
    width: 450px;
}
.first{
    width: 430px;
    margin: 10px;
    background-color: #121212;
    height: 196px;
    border-radius: 15px;
}
.spotify{
    padding-top: 10px;
    margin-left: 27px;
}
.home{
    padding-top: 10px;
    margin-left: 27px;
}
.search{
    padding-top: 10px;
    margin-left: 27px;
}
.image{
    float:left;
    margin-top: 10px;
}
.text{
    padding-top: 6px;
    padding-left: 67px;
    color: white;
    font-size: 16px;
}
.textS{
    padding-top: 7px;
    color: white;
    font-size: 16px;
}
.home:hover{
    cursor: pointer;
}
.spotify:hover{
    cursor: pointer;
}

.search:hover p,
.libraryso8ira:hover p{ 
    color:white; 
}
.search:hover,
.libraryso8ira:hover{
    cursor: pointer;
}
.search p,
.libraryso8ira p{
    color: grey;
}

/* Side Second---------------------------------------------------  */
.second{
    width: 430px;
    background-color: #121212;
    height: 420px;
    border-radius: 15px;
    margin: 10px;
}
.libraryKbera{
    padding-top: 10px;
    margin-left: 27px;
    background-color: #121212;
    border-radius: 15px;
}
.libraryso8ira{
    float: left;
}
.plus button{
    background-color: #121212;
    color: grey;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 29px;
    margin: -5px -1px;
    cursor: pointer;
    float: right;
    border-radius: 80%;
    padding-bottom: 13px;
    padding-top: 17px;
}

.plusButton{
    position: relative;
}
.plusButton:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 174px;
    height: 16px;
    font-size: 15px;
    background: #2f2f2f;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    right: -51px;
    position: absolute;
    z-index: 1;
    top: -11%;
  }
  
  .plusButton:hover:before {
    opacity: 1;
    visibility: visible;
  }

  #libscroll{
    width: 392px;
    height: 200px;
    overflow-y: scroll;
    background: #121212;
    border-left-width: 8px;
    margin-left: 10px;
}

#scrolldiv1,
#scrolldiv2{
    background: #242424;
    color: white;
    border-radius: 15px;
    padding: 10px;
    margin-right: 13px;
}
#scrolldiv2{
    margin-top: 20px;
}

.scrollbtn{
    background-color:white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.scrollbtn:hover{
    transform: scale(1.1);
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c3c3c5; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#dbdbdd; 
  }

.info{
    margin: 17px;
    margin-left: 4px;
    display: flex;
    flex-wrap: wrap;
}
.info a{
    color: #c3c3c5;
    font-size: x-small;
    margin: 10px;
    text-decoration: none;
}
.info a:active{
    text-decoration: none;
    border-bottom: 5px solid #c3c3c5;
}
.info a:hover{
    cursor: pointer;
}

.langbtn{
    background-color:transparent;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
    margin-left: 70px;
    cursor: pointer;
    border-radius: 20px;
    border-color: white;
    border-width: 0.5;
}
.langbtn:hover{
    transform: scale(1.1);
}

/* <!-- el 7eta el yemen------------------------------------------------------------------------------------------------- --> */

.main{
    margin: 10px;
}
.navbar{
    width:fit-content;
    height: 80px;
    background-color: #101010;
    margin-left: 440px;
    border-radius: 15px 15px 5px 5px;
}
.arrows{
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}
.leftArrow,
.rightArrow{
    background-color: #050505;
    border: none;
    color: grey;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 29px;
    margin: 5px;
    cursor: not-allowed;
    border-radius: 80%;
    width: 0px;
    height: 0px;
}

.arrows p{
    font-size: 41px;
    margin: -30px;
    padding: 6px;
    font-weight: 10;
}

.register{
    float: right;
}

.signup{
    background-color:transparent;
    color: grey;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 4px 2px;
    margin-left: 70px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    font-size: medium;
}

.signup:hover{
    transform: scale(1.1);
    color:white;
}

.Login{
    background-color:white;
    border: none;
    color: black;
    padding: 5px 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 42px;
}
.Login:hover{
    transform: scale(1.1);
    font-weight: bolder;
}

/* cards------------------------------------------------------------------ */

.palylistKbera{
    background-color: #121212;
    width: 1065px;
    height: 550px;
    border-radius: 5px 5px 15px 15px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cards-container,
.cards-container2{
    background-color: #121212;
    display: flex;
    flex-flow: row nowrap;
    height: 408px;
}
.card{
    background-color: #181818;
    width: 214px;
    height: 313px;
    margin: 10px;
    margin-left: 20px;
    border: none;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}
.card:hover{
    background-color: #252525;
    border-radius: 15px;
}
.spotify-playlist1 h2,
.spotify-playlist2 h2{
    color: white;
    font-weight:bolder;
    width: 300px;
    height: 46px;
    padding-top: 10px;
    padding-left: 20px;
    display: inline-block;
}
.card h4,
.list h4{
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card .play{
    position: relative;
}
.card .fa{
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
}
.card:hover .fa{
    opacity: 1;
    transform: translateY(-20px);
}

.cards-container .card p,
.cards-container2 .card p,
.credits{
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }
.sora{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}


.spotify-playlist1 a,
.spotify-playlist2 a{
    color: #c3c3c5;
    font-size: medium;
    font-weight: bold;
    margin: 40px 20px 10px 10px;
    text-decoration: none;
    float: right;
}
.spotify-playlist1 a:hover,
.spotify-playlist2 a:hover{
    cursor: pointer;
    text-decoration: underline;
    border-bottom: 1px  #c3c3c5;
}
.info-container{
    background-color: #121212;
    display: flex;
    flex-flow: row nowrap;
    height: 295px;
}

.list{
    text-align: left;
    padding: 10px 10px 10px 20px;
    height: 300px;
}

ul{
    list-style:none;
}

.list h4{
    padding-left: 40px;
}

.list a{
    color: #c3c3c5;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}
.list a:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
    border-bottom: 1px  #c3c3c5;
}
hr{
    color: rgb(180, 173, 173);
}
.credits{
    font-size: 15px;
}
.credit{
    margin-left: 20px;
}


.preview {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 20px -12px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 5px;
    margin-bottom: 0px;
  }
  .preview h6 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .preview p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
  }
  .preview button {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    height: 36px;
    margin: 17px;
  }
  .preview button:hover{
        transform: scale(1.1);
        font-weight: bolder;
  }
  .preview .textt{
    padding-left: 20px;
    color: white;
    font-size: 16px;
  }



















#myDIV{
    position: relative;
    background-color: #282828;
    height: 110px;
    width: 250px;
    border-radius: 15px;
    top: 270px;
    left: 300px;
}
#myDIV:before{
    background-color:#282828;
    visibility: hidden;
    opacity: 0;
    width: 300px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    right: -51px;
    position: absolute;
    z-index: 1;
    top: -11%;
}
  .createPlaylist,
  .createFolder{
    padding-top: 0px;
    margin-left: 10px;
}

.createPlaylist:hover,
.createFolder:hover{
    background-color: #5b5a5a;
}